# Database Configuration
DATABASE_URL="postgres://root:postgres_5432@localhost:5432/local"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL="your-supabase-project-url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
